<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>

<h2>Add Book</h2>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<form method="POST">
    Book Name: <input type="text" name="name"><br><br>
    Book ID: <input type="text" name="book_id"><br><br>
    Author: <input type="text" name="author"><br><br>
    Category: <input type="text" name="category"><br><br>
    Quantity: <input type="number" name="quantity"><br><br>

    <button type="submit">Add Book</button>
</form>

<br>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>